extends ../templates/layout

block content
    div.container.my-3
        h1 #{title}
        form(action='/refArchitectureCPU/' + (refArchitectureCPU === undefined ? 'create' : refArchitectureCPU._id + '/update') method='post')
            input(type='hidden' name='_id' value=(refArchitectureCPU === undefined ? '' : refArchitectureCPU._id))
            .form-group
                label(for='name') Name:
                input#name.form-control(type='text' name='name' value=(refArchitectureCPU === undefined ? '' : refArchitectureCPU.name) required)
            input.btn.btn-info(type='submit' value=action)
            a.btn.btn-secondary.mx-1(href='/refArchitectureCPU/') Return